:root {
    --brand-color-red: #DC140A;
    --brand-color-yellow: #feb42b;
    --brand-color-gray: #6b6b6b;
    --brand-color-gray2: #dedede;
    --main-background: #DC140A;
    --secondary-background: #EEEEEE;
}

h1 {
    font-size: 24px;
    color: var(--brand-color-red);
}

header {
    width: 80%;
    margin: auto;
    background: var(--main-background);
    
    .menu-btn {
        display: none;
        vertical-align: top;
        padding: 12px;
        margin-top: 25px;
        background-color: var(--brand-color-red);
        border: 1px solid var(--brand-color-gray2);
        color: var(--brand-color-gray2);
        font-size: 24px;
    }
    
    .logo {
       width: 200px;
        height: 94px;
        display: inline-block;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: -20px -53px;
        background-image: url(./logo.png);
    }
}

body {
    margin: 0;
    width: 100%;
    overflow: scroll;
    background: var(--main-background);
    font-family: "Roboto", Arial, sans-serif;
}

.container {
    width: 100%;
    height: 100vh;

    .content {
        margin: auto;
        padding: 10px;
        background-color: #ffffff;
    }

    .content-child {
        width: 100%;
        display: flex;
        
        .menu {
            width: 315px;
            padding: 0px 10px;
            background-color: var(--secondary-background);
            
            ul {
                padding: 0;
                list-style-type: none;
                
                li {
                    display: flex;
                    justify-content: flex-start;
                    input[type="checkbox"] {
                        height: 12px;
                    }
                }
            }
            
            label {
                font-weight: 700;
            }
            
            .filter-label {
                color: var(--brand-color-gray);
                font-size: 14px;
            }
            
            input {
                height: 30px;
                border: 1px solid var(--brand-color-gray);
            }
            
             button {
                padding: 9px;
                border: 1px solid var(--brand-color-gray);
                color: var(--brand-color-gray);
            }
        }

        .hotel-list {
            width: 100%;
            display: inline-block;
            list-style-type: none;
            padding: 0px 15px 15px 30px;
            

            .hotel {
                height: 200px;
                border: 1px solid #eee;
                margin-bottom: 20px;
                cursor: pointer;
                font-size: 16px;
                padding: 3px;
                box-shadow: 4px 3px 2px -4px;
                
                display: flex;
                justify-content: space-between;
                
                label {
                    font-weight: 700;
                }

                .img-l {
                    height: 190px;
                    width: 280px;
                }

                .img-m {
                    width: 100%;
                    height: 200px;
                    overflow: hidden;
                    display: block;
                }

                .hotel-info {
                    flex-grow: 4;
                
                    height: 100%;
                    padding: 15px;
                }

                .hotel-menu-l {
                    display: flex;
                    justify-content: center;
                
                    width: 100px;
                    height: 100%;
                    background-color: #eee;
                }
                
                .hotel-price {
                    font-size: 24px;
                    padding-top: 20px;
                }
                
                .hotel-name {
                    font-size: 16px;
                }
                
                .hotel-room-type {
                    color: var(--brand-color-gray);
                    font-size: 14px;

                    span {
                        font-weight: 200;
                    }
                }
            }
        }
    }
}

.star-rating {
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 5px;
    border-radius: 2px;
    background-color: var(--brand-color-yellow);
    
    &.half {
        width: 5px;
    }
}

@media (min-width: 768px) {

    header {
        width: 80%;
        margin: auto;
        background: var(--main-background);
        
        .menu-btn {
           display: inline-block;
        }
     }
    .container {
    
        .content-child {
            .menu {
                display: none;
            }
        }
     }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 

     header {
        .menu-btn {
           display: none;
        }
     }

    .container {

        .content {
            width: 80%;
        }
        
        .content-child {
            .menu {
                display: inline-block;  
            }
        }
     }
 }
 


